.product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
}

.product .itemImage {
    width: 40vw;
    margin-right: 24px;
}

.product .itemInfo {
    width: 30vw;
}

.product .itemName {
    font-size: x-large;
    font-weight: bold;
}

.descriptionHeader {
    font-weight: bold;
    font-size: medium;
}

.description {
    font-size: small;
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.stars .rating {
    font-size: x-small;
    margin-left: 4px;
    margin-top: 4px;
}

.quantityControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.quantityButton {
    width: 32px;
    height: 32px;
}

.quantity {
    margin: 5px;
}

.addButton {
    width: 30vw;
    height: 40px;
}